<!DOCTYPE html>
<style>
table {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
	border-spacing: 0;
    border-collapse: collapse;
    
}


th {
     background:  linear-gradient(#0c25e8, #05116b);
    /* border-left: 1px solid #555; */
    border-right: 1px solid #777;
    /* border-top: 1px solid #555; */
    /* border-bottom: 1px solid #333; */
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
	border-collapse: collapse;
}

</style>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Accounts</title>
   <!-- the star of the show - the Vue library! -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  
  

   





   
   <script>
      
       
        // when life is settled, load up the fun stuff
        document.addEventListener('DOMContentLoaded', function () {
                   

		var modal = new Vue({
		  el: '#modal',
		  data: {
			
			errors : [],
			account: {
			  code: '',
			  name:'',
			  type:''
			}
		  },
		    methods:{
				submitForm: function (e) {
					
					console.log(Object.values(this.account))
				  if (this.account.name && this.account.name && this.account.type) {
				  let data = JSON.stringify(this.account);
					console.log(data)
					axios
					.post('http://127.0.0.1:5000/accounts', 
						data,
						{
						headers: {
							'Content-Type': 'application/json',
						}
						}).then((response) => {
								console.log('Everything is awesome.');
								app.info.push(Object.values(this.account));
							}).catch((error) => {
								console.warn('Not good man :('+error);
								this.errors.push(error.message);
							}) 
						
					
					
					//return true;
				  }

				  this.errors = [];

				  if (!this.account.name) {
					this.errors.push('Name required.');
				  }
				  if (!this.account.code) {
					this.errors.push('Code required.');
				  }
				  if (!this.account.type) {
					this.errors.push('Type required.');
				  }

				  e.preventDefault();
				}
			}
		})
		var app = 	new Vue({
			  el: '#app',
			  data: {
				
				  info: null
				
			  },
			  mounted () {
				axios
				  .get('http://127.0.0.1:5000/accounts')
				  .then(response => (this.info = response.data.accounts))
				  
			  },
			
			})
			//end tag
			
        })
		
		
   </script>
</head>
<body>

   <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open New Account</button>
   <div id="app">
   <table id="example" class="table  table-bordered  " style="width:100%">
        <thead>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="a in info" onclick="console.log('tr clicked')">
                <td>{{a[0]}}</td>
               <td>{{a[1]}}</td>
			   <td>{{a[2]}}</td>
            </tr>
            
        </tbody>
       
    </table>
</div>


<div  id="modal" >
<div   class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Account</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form   @submit="submitForm"    method="post" ref="form">
			<p v-if="errors.length" class="alert alert-danger">
				<b>Please correct the following error(s):</b>
				<ul class="list-group">
				  <li class="list-group-item list-group-item-danger" v-for="error in errors">{{ error }}</li>
				</ul>
			  </p>
          <div class="form-group">
            <label for="recipient-code" class="col-form-label">Code:</label>
            <input type="text" class="form-control" id="recipient-code"  v-model="account.code" >
          </div>
		  <div class="form-group">
            <label for="recipient-name" class="col-form-label">Name:</label>
            <input type="text" class="form-control" id="recipient-name"  v-model="account.name" >
          </div>
		  <div class="form-group">
            <label for="recipient-type" class="col-form-label">Type:</label>
			<select class="browser-default custom-select"  id="recipient-type"  v-model="account.type" >
			  <option value="asset" selected>Asset</option>
			 <option value="liability">Liability</option>
			  <option value="equity">Equity</option>
			  <option value="revenue">Revenue</option>
			  <option value="expense">Expense</option>
			</select>
            
          </div>
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <input type="submit" class="btn btn-primary"></input>
		  
        </form>
      </div>
      
      </div>
    </div>
  </div>
  </div>
</div>


</body>
</html>
<script>

</script>