<!DOCTYPE html>
<style>
._row  {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* margin-right: -15px; */
    /* margin-left: -15px; */
}
</style>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Configuration</title>
   <!-- the star of the show - the Vue library! -->
   <script src="js/vue.min.js"></script>
   <script src="js/axios.min.js"></script>
   
   <link rel="stylesheet" href="js/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
   
   <script>
				

			
        document.addEventListener('DOMContentLoaded', function () {
            
			var app = new Vue({
			  el: '#app',
			  data:{
				errors:[]	  
			  },
			  
		    methods:{
				create: function (e) {
					axios
					  .get('http://127.0.0.1:5000/create')
					  .then(response => (alert('Created successfully')))
					  .catch((error) => {
								console.warn('Not good man :('+error);
								this.errors.push(error.message);
							})
				  },
				  drop: function (e) {
					axios
					  .get('http://127.0.0.1:5000/drop')
					  .then(response => (alert('Drop successfully')))
					  .catch((error) => {
								console.warn('Not good man :('+error);
								this.errors.push(error.message);
							})
				  },
				  reset: function (e) {
					axios
					  .get('http://127.0.0.1:5000/reset')
					  .then(response => (alert('Reset successfully')))
					  .catch((error) => {
								console.warn('Not good man :('+error);
								this.errors.push(error.message);
							})
				  },
				  upload: function (e) {
					axios
					  .get('http://127.0.0.1:5000/excel')
					  .then(response => (alert('Excel uploaded successfully')))
					  .catch((error) => {
								console.warn('Not good man :('+error);
								this.errors.push(error.message);
							})
				  },
				  payments: function (e) {
					axios
					  .get('http://127.0.0.1:5000/payments')
					  .then(response => (alert('Payments uploaded successfully')))
					  .catch((error) => {
								console.warn('Not good man :('+error);
								this.errors.push(error.message);
							})
				  },
				  bill: function (e) {
					axios
					  .get('http://127.0.0.1:5000/bill')
					  .then(response => (alert('Bill debited successfully')))
					  .catch((error) => {
								console.warn('Not good man :('+error);
								this.errors.push(error.message);
							})
				  }


				 
				}
			})
			})
			
			
			
			//end tag
			
			

		
		
		
		
   </script>
</head>
<body>

    
<div id="app">

<div class="_row justify-content-center" >
	<div class="p-3"><button type="button" class="btn btn-primary" @click="create" >Create</button>  </div>
	<div class="p-3"><button type="button" class="btn btn-primary" @click="drop" >Drop</button>  </div>
  <div class="p-3"><button type="button" class="btn btn-primary" @click="reset" >Reset</button>  </div>
  <div class="p-3"><button type="button" class="btn btn-primary" @click="upload" >Upload Accounts</button>  </div>
  <div class="p-3"><button type="button" class="btn btn-primary" @click="bill" >Monthly Bill</button>  </div>
  <div class="p-3"><button type="button" class="btn btn-primary" @click="payments" >Monthly Payments</button>  </div>
</div>


  
  </div>





</body>
</html>