<!DOCTYPE html>
<style>
table {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
	border-spacing: 0;
    border-collapse: collapse;
    
}


th {
    background:  linear-gradient(#0c25e8, #05116b);
    /* border-left: 1px solid #555; */
    border-right: 1px solid #777;
    /* border-top: 1px solid #555; */
    /* border-bottom: 1px solid #333; */
    box-shadow: inset 0 1px 0 #999;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
    position: relative;
    text-shadow: 0 1px 0 #000;
	border-collapse: collapse;
}

</style>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Transaction</title>
   <!-- the star of the show - the Vue library! -->
   <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
   
   <script>

function getFormattedDate(date) {
						  var year = date.getFullYear();

						  var month = (1 + date.getMonth()).toString();
						  month = month.length > 1 ? month : '0' + month;

						  var day = date.getDate().toString();
						  day = day.length > 1 ? day : '0' + day;
						  
						  return year + '-' + month + '-' + day;
						}

        // when life is settled, load up the fun stuff
        document.addEventListener('DOMContentLoaded', function () {
            
			var app = new Vue({
			  el: '#app',
			  data:{
				
				  info: null,
				  accMap:new Map()
				
			  },
			  mounted () {
			  
				axios
				  .get('http://127.0.0.1:5000/accounts')
				  .then(function (response) {
					 modal.accounts =  response.data.accounts;
					  for (a of  modal.accounts) {
						console.log(a[1]);
						app.accMap.set(a[0], a[1]);
						}
						console.log(app.accMap);
					})
				 // .then(response => (modal.accounts =  response.data.accounts))
				axios
				  .get('http://127.0.0.1:5000/transactions')
				  .then(response => (this.info = response.data.transactions))
				  
				 
				
			  }
			})
			//end tag
		var modal = new Vue({
		  el: '#modal',
		  data: {
			
			errors : [],
			transaction: {
			  date: getFormattedDate(new Date()),
			  accountdebit:'',
			  accountcredit:'',
			  amount:'',
			  description:''
			},
			accounts: null
		  },
		  
		    methods:{
			 
				submitForm: function (e) {
					
					
				  if (this.transaction.date 
				  && this.transaction.accountdebit 
				  && this.transaction.accountcredit
				  && this.transaction.amount
				  && this.transaction.description
				  && this.transaction.accountdebit!=this.transaction.accountcredit) {
			  
				  
				  let data = JSON.stringify({
					  "date":this.transaction.date,
					  "description":this.transaction.description,
					  "items":[
						{"account_code":this.transaction.accountdebit.split('-')[0],"amount":+this.transaction.amount},
						{"account_code":this.transaction.accountcredit.split('-')[0],"amount":-this.transaction.amount}
					  ]
					});
					
					axios
					.post('http://127.0.0.1:5000/transactions', 
						data,
						{
						headers: {
							'Content-Type': 'application/json',
						}
						}).then((response) => {
								
								app.info.push(JSON.parse(data));
								console.log('Everything is awesome.' );
							}).catch((error) => {
								console.warn('Not good man :('+error);
								this.errors.push(error.message);
							}) 
						
					
					
					//return true;
				  }

				  this.errors = [];

				  if (!this.transaction.date) {
					this.errors.push('Date required.');
				  }
				 if (!this.transaction.accountdebit) {
					this.errors.push('Debit Account  required.');
				  }
				  if (!this.transaction.accountcredit) {
					this.errors.push('Credit Account required.');
				  }
				  if (!this.transaction.amount) {
					this.errors.push('Amount required.');
				  }
				  if (!this.transaction.description) {
					this.errors.push('Description required.');
				  }
				  if (this.transaction.accountdebit==this.transaction.accountcredit) {
					this.errors.push('Debit and Credit account cannot be same.');
				  }

				  e.preventDefault();
				}
			}
		})	
        })
		
		
		
		
   </script>
</head>
<body>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">New Transaction</button>  
   <div id="app">
 
 
  <table id="example" class="table " style="width:100%">
        <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Debit Account</th>
                <th>Credit Account</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="transaction in info">
			
                <td>{{transaction.date}}</td>
                <td>{{transaction.description}}</td>
                 <td>{{accMap.get(transaction.items[0].account_code)}}</td>
                 <td>{{accMap.get(transaction.items[1].account_code)}}</td>
				 <td>{{transaction.items[1].amount}}</td>
            </tr>
            
        </tbody>
       
    </table>
</div>




<div id= "modal">
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New Transaction</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form  @submit="submitForm" method="post" ref="form">
		<p v-if="errors.length">
				
				<ul class="list-group">
				  <li class="list-group-item list-group-item-danger" v-for="error in errors">{{ error }}</li>
				</ul>
			  </p>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Date:</label>
            <input type="date" dateformat="yyyy-MM-dd"  class="form-control" id="recipient-name" v-model="transaction.date">
          </div>
		  <div class="form-group">
            <label for="recipient-name" class="col-form-label">From Account:</label>
           
			<select class="browser-default custom-select"  id="recipient-type"  v-model="transaction.accountdebit" >
			  <option v-for="a in accounts">{{a[0]}}- {{a[1]}}</option>
			</select>
          </div>
		  <div class="form-group">
            <label for="recipient-name" class="col-form-label">To Account:</label>
			<select class="browser-default custom-select"  id="recipient-type"  v-model="transaction.accountcredit" >
			  <option v-for="a in accounts">{{a[0]}}- {{a[1]}}</option>
			</select>
            
          </div>
		  <div class="form-group">
            <label for="recipient-name" class="col-form-label">Amount</label>
            <input type="number" class="form-control" id="recipient-name" v-model="transaction.amount">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Description:</label>
            <textarea class="form-control" id="message-text" v-model="transaction.description"></textarea>
          </div>
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		    <input type="submit" class="btn btn-primary"></input>
        </form>
      </div>
      
    </div>
  </div>
</div>
</div>

</body>
</html>